<fieldset id="member_profile_form">
  <legend><%=t('profile', :scope => 'refinery.admin.members')%></legend>
  <p class="field">
      <%= f.label t('first_name', :scope => 'refinery.admin.members')%>
      <%= f.text_field :first_name, :class => 'widest' %>
  </p>
 
  <p class="field">
      <%= f.label t('last_name', :scope => 'refinery.admin.members')%>
      <%= f.text_field :last_name, :class => 'widest' %>
  </p>
</fieldset>