<fieldset>
  <ul>
    <li>
      <%= t('refinery.members.shared.password') %>
      <%= f.password_field :password, :autocomplete => 'off' %>&nbsp;
    </li>
    <li>
      <%= t('refinery.members.shared.password_confirmation') %>
      <%= f.password_field :password_confirmation, :autocomplete => 'off' %>&nbsp;
    </li>
    </li>
    <%= "<li><span class='preview'>#{t('members.form.blank_password_keeps_current', :scope => 'refinery.memberships')}</span></li>".html_safe if @member.persisted? %>
  </ul>
</fieldset>
