<fieldset>
  <legend><%=t('members.shared.profile')%></legend>
  <ol>
    <li>
      <label><%= @member.class.human_attribute_name :first_name %></label>
      <%= @member.first_name %>&nbsp;
    </li>
    <li>
      <label><%= @member.class.human_attribute_name :last_name %></label>
      <%= @member.last_name %>&nbsp;
    </li>
  </ol>
</fieldset>